---
import Home from "../layouts/Home.astro";
---

<Home title="Minneapolis Sub Zero">
  <h1>Minneapolis Sub Zero</h1>

  <section class="about">
    <p>
      Founded in Minneapolis in 1997, Sub Zero has emerged as the premier men's
      club ultimate team in the state of Minnesota. Throughout the years, we
      have competed on both national and international stages. We compete in the
      USA Ultimate Club Series in pursuit of a National Championship, traveling
      across the country to participate in regular season and postseason
      tournaments.
    </p>

    <p>
      Every spring, our team hosts tryouts where hundreds of players compete to
      earn a roster spot. Sub Zero is composed of members of our local
      community, current college players, and graduates from regional programs
      including Carleton College, St. Olaf College, the University of Minnesota,
      and the University of Wisconsin–Madison.
    </p>
  </section>

  <div class="photo-grid">
    <img src={"/src/assets/nationals.jpeg"} alt="Nationals" />
    <img src={"/src/assets/regionals.jpeg"} alt="Regionals" />
    <img src={"/src/assets/pec.jpeg"} alt="PEC" />
    <img src={"/src/assets/2023nationals.jpeg"} alt="2023 Nationals" />
  </div>
</Home>
