---
import Home from "../layouts/Home.astro";
---

<Home title="Internal | Sub Zero">
  <div id="protected" style="display:none;">
    <h1>Internal</h1>
    <p>Team Links.</p>
  </div>

  <script>
    const pass = prompt(":)");

    if (pass === "subzero2026") {
      document.getElementById("protected")!.style.display = "block";
    } else {
      window.location.href = "/";
    }
  </script>
</Home>
