---
import Home from "../layouts/Home.astro";
---

<Home title="Tryouts | Sub Zero">
  <section class="team-intro reveal-on-scroll">
    <h1>Tryouts</h1>
  </section>

  <section class="form-section reveal-on-scroll">
    <div class="form-header">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSezCz_EWgXk6kCzNA_oej9M5icL5w2IizsQ-Mrb7_2WNdUnZg/viewform"
        target="_blank"
        class="form-open"
      >
        open form in new tab
      </a>
    </div>

    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSezCz_EWgXk6kCzNA_oej9M5icL5w2IizsQ-Mrb7_2WNdUnZg/viewform?embedded=true"
      class="form-embed"
      frameborder="0"
    >
    </iframe>
  </section>
</Home>
